.App {
  text-align: center;
  background-color: #faf7f2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 10vh;
  display: flex;
  flex-direction: row;
 
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-nav{
  background-color: #7B1E3B;
}


.App-link {
  color: #61dafb;
}
.h1{
  font-family: 'Times New Roman', Times, serif;
  background-color: #7B1E3B;
  text-align: left;
  color: #D4AF37;
}
.H1{
  color: #2c2c2c;
  text-align: left;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
